{
    "presets": ["@nrwl/react/babel"],
    "extends": "../../.babelrc",
    "plugins": [
        [
            "styled-components",
            {
                "pure": true,
                "ssr": true
            }
        ]
    ]
}
