.react-grid-item.react-grid-placeholder {
    background: #cdd8ff;
    border: 2px dashed black !important;
}

ul {
    list-style-type: square;
    text-indent: -30px;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}

.ant-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

body {

}


.my-class {
    color: rgb(235, 237, 20)
}
