.react-grid-item.react-grid-placeholder {
    background: #cdd8ff;
    border: 2px dashed black !important;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}
.ant-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

body {

}