name: Publish npm packages
on:
    workflow_call:
        inputs:
            tag:
                # npm tag (latest/next/beta/etc) to use
                required: true
                type: string
            version:
                # npm version
                required: true
                type: string
            access:
                # type of access 'restricted' or 'public'
                required: false
                type: string
                default: restricted

permissions:
    contents: read
    id-token: write

jobs:
    publish:
        runs-on: ubuntu-22.04
        steps:
            -   uses: actions/checkout@v4

            -   uses: pnpm/action-setup@v4
                with:
                    version: 10

            -   uses: actions/setup-node@v4
                with:
                    node-version: 24
                    registry-url: https://registry.npmjs.org

            -   name: Install packages
                run: pnpm install --frozen-lockfile

            -   name: Package libs
                run: node build.mjs controls,store ${{ inputs.version }}

            -   name: Verify react component docs
                run: node react-docgen-verify.mjs

            -   name: Generate react component docs
                run: node_modules/.bin/react-docgen -x tsx -o dist/controls/component-docs.json libs/controls/src

            - run: |
                  node -v
                  npm -v
                  npm config get registry
                  env | grep -E 'NODE_AUTH_TOKEN|NPM_TOKEN' || true

            -   name: Publish dist/store
                run: npm publish --tag ${{ inputs.tag }} --access ${{ inputs.access }} dist/store/
                env:
                    NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

            -   name: Publish dist/controls
                run: npm publish --tag ${{ inputs.tag }} --access ${{ inputs.access }} dist/controls/
                env:
                    NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
